.main-wrapper {
  opacity: 0;
}

html.w-editor .main-wrapper {
  opacity: 1;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

html.lenis {
  height: auto;
}

#about--dropdown {
  display: none;
}

.navlink--dropdown-trigger.is--active {
  color: black;
}

.navlink--dropdown-trigger.is--active .navlink-shape {
  opacity: 1;
}
